<div id="editor1">
  <p>Hello world!</p>
</div>

<div id="editor2">
  <p>Hello world!</p>
</div>

<script>
  exportPdfUtils.initManualTest();

  CKEDITOR.replace(
    "editor1",
    exportPdfUtils.getDefaultConfig("manual", {
      extraPlugins: "exportpdf,notification",
    })
  );

  CKEDITOR.replace("editor2", exportPdfUtils.getDefaultConfig("manual"));
</script>
